@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 55% 1fr;
    grid-template-rows: 1fr ;

}

#form__section{
    background-color: white;
}

#quote__section{
    margin: -50px -50px -50px 0;

    background: linear-gradient(162.21deg, #517879 4.83%, #1E3E57 103.44%);
    filter: blur(5px);

}

