@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

body {
    margin: 0%;
    height: 100vh;
    display: grid;
    grid-template-columns: 55% 1fr;
    grid-template-rows: 1fr ;

    font-family: 'Space Grotesk';

}


#signup__form--section{
    position: relative;
}

#signup__form--logo{
    position: absolute;
    margin-left: 64px;
    margin-top: 40px;

    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;



    background: linear-gradient(93.38deg, #496F74 -3.47%, #6E9195 35.61%, #2D4F61 84.29%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

#signup__form--title{
    font-weight: 700;
    font-size: 24px;
    justify-self: left;

    margin-top: 4rem;
    margin-bottom: 2rem;
    width: 400px;
}

.signup__form--inputtitle{
    font-weight: 500;
    margin-bottom: 2px;
}



.signup__form--inputtitle span{
    font-weight: 400;
    font-size: 12px;
    color: #C4C4C4;
}

#signup__form--section input{
    box-sizing: border-box;


    width: 400px;
    height: 40px;

    border: 1px solid #CCCCCC;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
    border-radius: 4px;

    padding-left: 1rem;

    font-family: 'Space Grotesk';
    display: flex;
    align-items: center;
}


#signup__form--section input::placeholder{
    color: #CCCCCC;
    font-size: 12px;
}

@keyframes signup__box--highlight {
    from {
        background-color: rgba(255, 255, 255, 0.2);
        box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);}
    to {outline: 4px solid #2c918c;
        background-color: rgba(255, 255, 255, 0.5);
        box-shadow: 0px 6px 6px 6px rgba(204, 204, 204, 0.5);}

}

#signup__form--section input:focus-visible{

    animation-name: signup__box--highlight;
    animation-duration: 0.05s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    
}

#signup__form--section form {
    margin-top: 10%;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#signup__form--pwdinstructions {
    font-weight: 400;
    font-size: 12px;
    color: #C4C4C4;
}


#signup__form--section button{
    width: 400px;
    height: 40px;
    
    margin-top: 30px;

    background: #27485D;
    border: 2px solid #517879;
    box-shadow: 0px 4px 4px 2px rgba(124, 124, 124, 0.4);
    border-radius: 4px;

    font-family: 'Space Grotesk';
    font-weight: 700;
    font-size: 16px;
    color: white;
}

/*DA AGGIUSTARE

@keyframes signup__form--button-hover {
    from{
    box-shadow: 0px 4px 4px 2px rgba(124, 124, 124, 0.4);
    background: #27485D;
    }
    to{
    box-shadow: 0px 4px 8px 4px rgba(124, 124, 124, 0.4);
    background:#517879;
    }
}
@keyframes signup__form--button-active {
    from{
    box-shadow: 0px 4px 8px 4px rgba(124, 124, 124, 0.4);
    background:#517879;
    }
    to{
    box-shadow: 0px 0px 0px 0px rgba(27, 27, 27, 0.8);
    background: #25464b;
    }
}

#signup__form--section button:hover{
    animation: signup__form--button-hover;
    animation-duration: 0.1s;
    animation-direction: alternate;
    animation-timing-function: both;
    animation-fill-mode: forwards;
}
#signup__form--section button:active{
    animation: signup__form--button-active;
    animation-duration: 0.02s;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

*/

#signup__form--login{
    font-weight: 700;
    color: #C4C4C4;
}

#signup__form--login a{
    text-decoration: underline;
    color: #476D73;
}

#signup__form--bg{
    background-color: white;
    width: 65%;
    filter: blur(0.2rem);
    z-index: -2;
}

/* SEZIONE QUOTE */

#quote__section{
    font-family: 'Space Grotesk', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: white;
    margin: 0;
    font-size: 16px;
}

#quote__section--links{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 72px;
    font-size: 16px;
}

#quote__section--links a{
    margin: 48px 24px;
}

#quote__section--quote{
    width: 70%;
    margin-left: 15%;
    margin-top: 12%;
}

#quote__section--quote p{
    margin:0;
    

}

#quote__section--author{
    font-size: 16px;
}

#quote__section--text{
    font-size: 64px;
    line-height: 96px;
    color: #FFFFFF;
     opacity: 0.9;
     
}



#quote__section--bg{
    margin: 0%;

    position: absolute;
    height: 100%;
    width: 45%;
    z-index: -3;

    background: linear-gradient(162.21deg, #517879 4.83%, #1E3E57 103.44%);
    filter: blur(0.1rem);
}