@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;600;700;800&display=swap');

html {
    font-family: 'Maven Pro', sans-serif;
}

body {
    background-color: #ffffff;
}

button {
    padding: 14px 40px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
}

.fill-1 {
    color: #ffffff;
    background-color: #DC4298;
    border: 1px solid #DC4298;
}

.fill-0 {
    color: #DC4298;
    border: 1px solid #DC4298;
    background-color: #ffffff;
}


nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 35px 40px 0 40px;
}

nav a {
    padding-right: 52px;
}

/* div a:last-child {
    padding-right: 40px;
} */

/* 
    rosa -> DC4298 
    azzurro -> 086BED
*/


.Avatar{
    display: flex;
    align-items: center;
}
.Login{
    display: flex;
    flex-direction: column;
    width: 1284px;
    height: 1406px;
}
.TitleLogin {
    font-weight: 600;
    font-size: 52px;
    line-height: 150%;
    text-transform: capitalize;
    color: #230F0F;
    }
.Login1{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.NewAccount_text{
    font-weight: 400;
    font-size: 32px;
    color: #01579B;
}
.Bottoni_Social {
    display: flex; 
    justify-content:space-evenly;
    align-items: center;
    font-weight:500px;
}
.Fb_Button{
    width: 320px;
    height: 78px;
    font-size: 32px;
    font: weight 500px;
    border-radius: 8px;
    align-items: center;
    color: #ffffff;
    background-color: #5856D6;
    border-color: #5856D6;
}
.Tw_Button{
    width: 320px;
    height: 78px;
    font-size: 32px;
    border-radius: 8px;
    align-items: center;
    color: #ffffff;
    background-color: #00BCD4;
    border-color: #00BCD4;
    box-shadow: none;
}
.Go_Button{
    width: 320px;
    height: 78px;
    font-size: 32px;
    border-radius: 8px;
    align-items: center;
    color: #ffffff;
    background-color: #D84226;
    border-color: #D84226;
    box-shadow: none;
}
.OrLogin_Text{
    display: flex;
    justify-content: center;
    font-weight: 400px;
    font-size: 32px;
}
.Box_Mail{
    display: flex;
    justify-content: center;
}
.textbox{
    font-weight: 400px;
    font-size: 24px;
    width: 1042px;
    height: 93px;
    background-color:#00000017;
    border-color: 00000017;
}
.Remember_Checkbox1{
    display: flex;
    align-items: center;
}
.remember_text{
    font-weight: 400;
    font-size: 32px;
}
.Remember_Checkbox{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.forgot_text{
    font-weight: 400;
    font-size: 32px;
    color: #01579B;
}
.Continue__Button{
    width: 1042px;
    height: 98.02px;
    background-color: #FF9800;
    color: #ffffff;
    font-style: Montserrat;
    font-weight: 600;
    font-size: 26px;
    border-color: #FF9800;
}
.continue_button{
    display: flex;
    justify-content: center;
}