@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800&display=swap');
/* 
    rosa -> DC4298 
    azzurro -> 086BED
*/

html {
    font-family: 'Maven Pro', sans-serif;
}

body {
    background-color: #ffffff;
    margin: 0 100px;
}

button {
    padding: 14px 40px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
}

.button--pink{
    color: #ffffff;
    background-color: #DC4298;
    border: 1px solid #DC4298;
    height: 60px;
    transition: 0.4s;
}

.button--pink:hover{
    border: 1px solid #DC4298;
    background-color: #ffffff;
    color: #DC4298;
    text-decoration: underline;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition: 0.4s;
}

.button--white {
    color: #DC4298;
    border: 1px solid #DC4298;
    background-color: #ffffff;
    transition: 0.4s;
}

.button--white:hover{
    color: #ffffff;
    background-color: #DC4298;
    border: 1px solid #DC4298;
    text-decoration: underline;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition: 0.4s;
}

/* da ricontrollare i nomi delle classi - INIZIO */

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 35px 40px 0 0px;
}

nav a {
    padding-right: 52px;
    text-decoration: none;
    color: black;
}

nav a:hover{
    text-decoration: underline;
}

.learn{
    display: flex;
}

.learn div:first-child{
    width: 50%;
    max-width: 50%;
}

.learn div:only-child{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.learn h1{
    font-size: 68px;
    margin-top: 100px;
    width: 557px;
    height: 276px;
    text-transform: capitalize;
    margin-bottom: 0;
    line-height: 135%;
    font-weight: 800;
}

h1 + img{
    width: 393.5px;
    height: 14.07px;
    color: #230F0F;
}

.learn p{
    width: 532px;
    height: 99px;
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 165%;
    letter-spacing: 0.5px;
    margin: 0;
    padding: 50px 0;
    opacity: 0.8;
    margin-bottom: 20px;
    color: #230F0F;
    font-weight: bolder;
}

.Image{
    margin-top: 60px;
    width: 50%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.Avatar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 515px;
    height: 63px;
}

.Avatar img{
    width: 100px;
}

.circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border: 1px solid #F1B1D5;
    position: absolute;
}

.Avatar > div{
    width: 296px;
    height: 60px;
}

.Avatar #primo{
    width: 60px;
    z-index: 1;
}

.Avatar #secondo{
    z-index: 2;
    margin-left: 50px;
}

.Avatar #terzo{
    z-index: 3;
    margin-left: 90px;
}

.Avatar p{
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 165%;
    padding: 0;
    width: 140px;
    height: 23px;
    letter-spacing: -0.5px;
    color: #230F0F;
}

.votazioni{
    margin-left: 170px;
}

.votazioni p{
    padding-top: 10px;
}

.icone{
    display: flex;
    padding-top: 10px;
}

/* da ricontrollare i nomi delle classi - FINE */

/* GRUPPO SCHEDE CORSO - Michele*/

.courses{
    margin: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    flex: 1 0 30%;
}

.card {
    box-sizing: border-box;
    overflow:hidden;
    background: #FFFFFF;
    border: 1px solid #eceff4;
    border-radius: 8px;
    Width: 368px;
    Height:480px;
    padding: 0px 23px 1.8rem 24px ;
    margin:14px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.card > img {
    margin: 0 -24px 0 ;
}

.card__view {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 6px 13px;
    position: absolute;
    width: 48px;
    height: 20px;
    margin-top: 140px;
    
    font-size: 15px;
    color: #DC4298;
    font-weight: 500;
    background: #FFFFFF;
    border-radius: 20px;
    letter-spacing: -0.2px;
    align-content: center;
}

.card__content{
    max-width: 0.8;
    padding: 0%;
}

.card__content--data{
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.4px;
    color: #999;
    margin-top: 20px;
    margin-bottom: 12px;
}

.card__content--title{   
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.6px;
    margin: 0;   
}

.card__content--description {
    color: #4D4D4D;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-top: 8px;
    margin-bottom: 12px;
    padding: 0;
}

.card__content--price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
}

.card__content--price > p{
    font-weight: 700;
    font-size :18px;
    color: #DC4298;
}

.card__content--price > p del{
    color:#999;
    font-weight: 400;
}

/* .card__content--price > button{
    padding: 10px 28px;
     
    font-size: 12px;
    font-weight: 700;
    color: #DC4298;
    background-color: #ffffff;
    border: 1px solid #DC4298;
} */