@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;600;700;800&display=swap');

html {
    font-family: 'Maven Pro', sans-serif;
}

body {
    background-color: #ffffff;
}

button {
    padding: 14px 40px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
}

.fill-1 {
    color: #ffffff;
    background-color: #DC4298;
    border: 1px solid #DC4298;
}

.fill-0 {
    color: #DC4298;
    border: 1px solid #DC4298;
    background-color: #ffffff;
}


nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 35px 40px 0 40px;
}

nav a {
    padding-right: 52px;
}

/* div a:last-child {
    padding-right: 40px;
} */

/* 
    rosa -> DC4298 
    azzurro -> 086BED
*/
.learn{

}

.Avatar{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.section_bi_column
{
    display: flex;
    padding: 40px;
    gap: 50px;
}

#section_text
{
   align-self: flex-start;
}

.title
{
    align-self: flex-start;
}

#online-course-image
{
    width: 550px;
    height: 450px;
}

.title
{
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #230F0F;
}

.text
{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #4D4D4D;
}

#container_testimonial
{
    padding: 30px;
}

#testimonail
{
    font-size: 26px;
    font-weight: 600;
    line-height: 39px;
    color: #1C1D4E;
}

.sub_text
{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #80848E;
}