@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;600;700&display=swap');


:root{
    --font:"Signika" ;
    --light-grey: #8E91A0 ;
    --black: #24262F;
    --orange: #F6752C;
}


body
{
    background-color: #F5F5F5;
}

/* 
============
Breadcrumbs  
===========
*/
.breadcrumb__item
{
    display: flex;
    gap: 1rem;
    padding: 2rem;
    font-size: 1.5rem;
}

#crumb--color
{
    color: var(--orange);
}

#step1
{
    color: var(--black);

}

#step2
{
    color: var(--light-grey);
}
/* =========================== */


/* 
=====================
TABS 
=====================
*/
.tabs
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
}

.tabs__title p
{
    font-size: 1.5rem;
    line-height: 3rem;
    font-weight: 700;
}

.tabs__body p 
{
    font-weight: 300;
    font-size: 1.2rem;
    color: var(--light-grey);
}
#sub__text
{
    font-size: 1.2rem;
    color: var(--black);
    font-weight: 400;
}

/* ================================= */





/* 
=========================
input-group 
==========================
*/

.input-group-title
{
    display: flex;
    justify-content: flex-start;
    padding-bottom: 1rem;
}



.input-group-title p
{
    font-size: 1rem;
    color: var(--light-grey);
}



.input p
{
    color: var(--light-grey);
    font-weight: 600;
}

.input button
{
    background-color:white ;
    border: white;
    border-radius: 20%;
    width: 5rem;
    height: 5rem;
    line-height: 1.5rem;
}


.input button:hover
{
    border: solid;
    border-color: var(--orange);
    color: var(--black);
}

.input button p:hover
{
    color: var(--black);
}


.input-group
{
    display: flex;
    gap: 1rem;
    justify-content: center;
}

/* ============================== */




/* 
=============================
button group  (start)
=============================
*/

.button-group
{

    margin-top: 15%;
}


.button-group p
{
    color: var(--light-grey);
    font-size: 1rem;
    font-weight: 600;
}

.button-wrap
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    padding-top: 1rem;
}

.button__prepend button
{
    border-radius: 20%;
    width: 5rem;
    height: 5rem;
    line-height: 1.1rem;
    border-color: white;
    background-color: white;
}

.button__prepend button:hover
{
    border: solid;
    border-color: var(--orange);
    color: var(--black);
    
}

.button__prepend button p:hover
{
    color: var(--black);
}

/* =============================
button group  (end)
============================= */



/*
========================== 
button group pizza 
==========================
*/

.button-group-pizza
{
    text-align: flex-start;
    margin-top: 2rem;
}


.button-group-pizza p
{
    font-size: 1rem;
    color: var(--light-grey);
    font-weight: 600;
}



.button-wrap-pizza
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
    padding-top: 1rem;
}

.button__prepend-pizza button
{
    background-color: #F5F5F5;
    border: white;
}

.button__prepend-pizza button:hover
{
    border: solid;
    border-color: var(--orange);
}



.button-next
{
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

#btn_next
{
    width: 20rem;
    height: 2rem;
    border-radius: 2rem;
    background-color: var(--orange);
    border-color: var(--orange);
    color: white;
}

#btn_next:hover
{
    border: solid;
    background-color: white;
    border-color: var(--orange);
    color: var(--orange);
}