@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');

:root{
    --bright-orange: #ffaa2c;
    --dark-orange: #fd5c2e;
    --bg-gradient:linear-gradient(95.54deg, #FD5C2E 12.88%, #FE7122 88.57%);
    --bg-color:#F5F5F5;
    --description-text:#969AB0;
}

::-webkit-scrollbar {
    opacity: 0;
    width: 0;
    display: none;
    background-color: transparent;
}

body {
    font-family: 'Signika', sans-serif;
    font-size: 16px;
    margin: 0px;
    font-weight: 700;
    background-color: var(--bg-color);
    color: white;
}

body button {
    font-family: 'Signika', sans-serif;
    font-size: 16px;
    font-weight: 700;
    border: 0;
}

nav{
    height: 7vh;
    display: flex;
    flex-direction: row;

    font-size: 1.5rem;
    font-weight: 600;

    /* padding: 0 1.4rem; */

    background: var(--bg-gradient);
    position: relative;
    justify-content: space-between;
    align-items: center;
}

nav a {
    justify-self: stretch;
    text-decoration: none;
    color: white;
}

#home__scrollbar{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    height: 3rem;

    display: flex;
    align-items: center;

    background-color: #fff;
    box-shadow: 0px 1px 0px #F2EEE8;
}

#home__scrollbar--buttons{   
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    overflow-x: scroll;

    margin-left:0.5rem;
}

#home__scrollbar button {
    height: 1.7rem;
    padding: 0.1rem 1.1rem;
    margin-right: 0.4rem;


    display: inline-block;
    
    white-space: nowrap;
    align-self: center;
    text-align: center;

    font-size: 0.85rem;
    font-weight: 600;

    background-color: #fff;
    border-radius: 200px;
}
#home__scrollbar button:first-child {
    color: #ffffff;
    font-weight: 400;
    background-color: var(--bright-orange);
   
}

/*Cards section*/

#home__cards--section{
    margin: 2rem 0;
    width: 11rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.home__cards--template{
    margin: 0.5rem 0.25rem;
}

.home__cards--text p{
    margin: 0.2rem;
}

.home__cards--title{
    font-size: 0.9rem;
    font-weight: 700;
}

.home__cards--price{
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--dark-orange);
}

.home__cards--title{

}

.home__cards--canvases {
    background: #fff;
    width: 11rem;
    height: 13rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
    
    margin: 0;

    color: #000;

    background: #FFFFFF;
    border: 1px solid #F5F3EF;
    border-radius: 5px;

    overflow: hidden;
}

.home__cards--canvases img {
    align-self: center;
}