                                /* <-- START OWN Pizza 2 */
.background {
    background-color: #F5F5F5;
}

.button_1 {
    margin-top: 12%;
    margin-left: 5%;
    width: 2.7rem;
    height: 2.7rem;
    border-color: #F4F1EC;
    border-radius: 55%;
    outline: none;
    background: black;
    color: white;
    cursor: pointer;
}

.button_2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 25%;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #F5F3EF;
    padding: 3%;
    background: white;
    font-size: 1em;
    cursor: pointer;
}

.column {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.text_button {
    color: #24262F;
    opacity: 0.5;
    text-align: center;
}

.box_button {

}

.box_cart {
    margin-top: 32%;
    margin-left: 3%;
    width: 22rem;
    height: 4rem;
    border-color: #F4F1EC;
    border-radius: 45px;
    outline: none;
    background: #24262F;
    color: white;
    cursor: pointer;
}


                                    /* <-- END OWN Pizza 2 */
