.button {
  max-width: 10rem;
  align-self: center;
}

#container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1rem;
}

.text {
  color: whitesmoke;
}

#containerForm {
  display: flex;
  flex-direction: row;
  margin: 1rem;
}

.deleteListButton {
  background-color: orange;
  margin: 1rem;
}

.listContainer {
  padding: 1rem;
}
