.supremo{
    display: flex;
    justify-content: center;
}


.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    border: thin;
    border-color: black;
    width: 30rem;
    height: 20rem;
    }
    

    .pos{
        border: solid;
        border-color: black;
    }
    

    .div0 {
        grid-area: 1 / 1 / 2 / 2; 

    }
    .div1 { 
        grid-area: 1 / 2 / 2 / 3;

    }
    .div2 { 
        grid-area: 1 / 3 / 2 / 4;

    }
    .div3 { 
        grid-area: 2 / 3 / 3 / 4;

    }
    .div4 { 
        grid-area: 2 / 2 / 3 / 3;

    }
    .div5 { 
        grid-area: 2 / 1 / 3 / 2;

    }
    .div6 { 
        grid-area: 3 / 1 / 4 / 2;

    }
    .div7 {
        grid-area: 3 / 2 / 4 / 3; 

    }
    .div8 { 
        grid-area: 3 / 3 / 4 / 4; 

    }